{% extends "base.html" %}

{% block title %}Caso 1 - Salud{% endblock %}

{% block content %}
<div class="container mt-5">



    <!-- Título centrado con fondo blanco -->
    <h2 class="text-center border bg-info bg-opacity-25 text-dark p-3 mb-4 rounded">
        <strong>Conceptos del Proyecto 🐂 </strong> 
    </h2>

    <!-- Contenido del texto con fondo blanco y borde -->
    <div class="bg-light border border-success p-4 rounded" style="text-align: justify;">
        <p>
            <strong>Plantemiento del problema</strong> 
            Informacion
        </p>
        <p>
            <strong>Obejtivo Principal</strong> 
            Informacion
        </p>
        <p>
            <strong>Obejtivos Secundarios</strong> 
            Informacion
        </p>
        <p>
           Mas datos
        </p>

        
        <p>
            <strong>Algoritmos:</strong> 
        </p>
        <p>
            Informacion
        </p>
    <div style="text-align: center; font-size: 32px;">
    <p>||||||||||   👩🏻‍⚕️   ||||||||||</p>
    </div>

    <div class="container mt-5">
    <div class="card">
    <div class="card-header bg-light text-success">
      <p>
            <strong>Referencias Bibliográficas</strong> 
        </p>
        <div style= "font-size: 0.7rem; line-height: 2;">
        <ul>
            <li>Analitika, P. (2023, julio 14). Aplicaciones innovadoras de Machine Learning: Casos de uso en salud, finanzas y energía. Analitika. https://analitikacentroamerica.com/aplicaciones-innovadoras-de-machine-learning-casos-de-uso-en-salud-finanzas-y-energia/</li>
            <li>Diez casos de uso cotidiano del machine learning. (2025, febrero 21). Ibm.com. https://www.ibm.com/mx-es/think/topics/machine-learning-use-cases</li>
            <li>Starr, D. (2018, julio 26). Current use cases for machine learning in healthcare. Microsoft Azure Blog. https://azure.microsoft.com/en-us/blog/current-use-cases-for-machine-learning-in-healthcare/</li>
            <li>(S/f). Plainconcepts.com. Recuperado el 4 de septiembre de 2025, de https://www.plainconcepts.com/es/inteligencia-artificial-sector-salud-ejemplos/</li>
            <li>(S/f). Scielo.cl. Recuperado el 4 de septiembre de 2025, de https://www.scielo.cl/scielo.php?pid=S0034-98872021000200248&script=sci_arttext</li>
        </ul>  
     </div>
    </div>
  </div>


</div>
{% endblock %}