{% extends "base.html" %}

{% block title %}Caso 1 - Salud{% endblock %}

{% block content %}
<div class="container mt-5">



    <!-- Título centrado con fondo blanco -->
    <h2 class="text-center border bg-info bg-opacity-25 text-dark p-3 mb-4 rounded">
        <strong>Machine Learning en el campo de la Salud 👨‍⚕️ </strong> 
    </h2>

    <!-- Contenido del texto con fondo blanco y borde -->
    <div class="bg-light border border-success p-4 rounded" style="text-align: justify;">
        <p>
            El <strong>Machine Learning</strong> ha transformado la atención médica, en este campo ha permitido 
            predecir enfermedades mediante el análisis de datos clínicos y genéticos. Se han 
            desarrollado modelos para identificar patrones y factores de riesgo. Permitiendo anticipar la 
            probabilidad de desarrollar ciertas enfermedades. Todo esto ha facilitado la detección 
            temprana y tratamientos con mas efectividad en los pronósticos de diferentes pacientes.
        </p>
        <p>
            Todos los avances en Machine Learning, se han implementado en maquinas que reconocen 
            patrones, que actualmente se emplea en imágenes de radiología y mamografías. En el caso 
            de las mamografías, el medico al interpretar pueden el resultado puede pasar por alto el 40% 
            de diagnóstico de cáncer, con el ML se puede bajar esta cifra.
        </p>
        <p>
            👨‍⚕️<strong>El Machine Learning se emplea para interpretar historias clínicas y resultados de diferentes exámenes 
            para incluir nuevos tratamientos.</strong>
        </p>
        <p>
            En la investigación genética, la modificación de genes y la secuenciación del genoma, el ML, 
            se utiliza para identificar como influyen en la salud los genes, donde se puede identificar 
            marcadores y genes, que pueden o no responder a tratamientos médicos, con efectos 
            secundarios en diferentes personas.
        </p>

        <p>
            <strong>Aplicaciones en la Industria.</strong> 
        </p>
        <p>
            👍•	El investigación y desarrollo de nuevos medicamentos, El Machine Learning acelera el 
                descubrimiento de medicamentos y mejora la atención médica. Pfizer lo usa con 
                IBM Watson para seleccionar candidatos en investigación de inmunooncología, mientras 
                que Geisinger Health System aplica IA y ML para predecir riesgos de sepsis, priorizar 
                la atención y reducir la mortalidad.
        </p>
        <p>
            👍•	El Proyecto InnerEye es una herramienta de software basada en investigación e 
                impulsada por IA para la planificación de radioterapia. Su autor es Microsoft 
                Research.
        </p>  
        <p>
            👍•	Healthcare.ai ha desarrollado varios algoritmos relacionados con la atención médica 
                que brindan una gran cantidad de información.
        </p>
        <p>
            <strong>Algoritmos:</strong> 
        </p>
        <p>
            Los algoritmos supervisados buscan predecir resultados a partir de datos de entrenamiento, 
            generando clasificaciones, probabilidades o puntajes. Entre los más usados están SVM, 
            Redes Neuronales, Árboles de Decisión y Bosques Aleatorios. En salud, destacan el SVM 
            (para clasificación, como diagnóstico de enfermedad renal crónica) y las Redes Neuronales 
            (para clasificación y predicción, como el análisis de imágenes en artritis reumatoide).
        </p>
    <div style="text-align: center; font-size: 32px;">
    <p>||||||||||   👩🏻‍⚕️   ||||||||||</p>
    </div>

    <div class="container mt-5">
    <div class="card">
    <div class="card-header bg-light text-success">
      <p>
            <strong>Referencias Bibliográficas</strong> 
        </p>
        <div style= "font-size: 0.7rem; line-height: 2;">
        <ul>
            <li>Analitika, P. (2023, julio 14). Aplicaciones innovadoras de Machine Learning: Casos de uso en salud, finanzas y energía. Analitika. https://analitikacentroamerica.com/aplicaciones-innovadoras-de-machine-learning-casos-de-uso-en-salud-finanzas-y-energia/</li>
            <li>Diez casos de uso cotidiano del machine learning. (2025, febrero 21). Ibm.com. https://www.ibm.com/mx-es/think/topics/machine-learning-use-cases</li>
            <li>Starr, D. (2018, julio 26). Current use cases for machine learning in healthcare. Microsoft Azure Blog. https://azure.microsoft.com/en-us/blog/current-use-cases-for-machine-learning-in-healthcare/</li>
            <li>(S/f). Plainconcepts.com. Recuperado el 4 de septiembre de 2025, de https://www.plainconcepts.com/es/inteligencia-artificial-sector-salud-ejemplos/</li>
            <li>(S/f). Scielo.cl. Recuperado el 4 de septiembre de 2025, de https://www.scielo.cl/scielo.php?pid=S0034-98872021000200248&script=sci_arttext</li>
        </ul>  
     </div>
    </div>
  </div>


</div>
{% endblock %}